extends layout

block content
  #intro
    p Hello there. <br> Welcome to Dead Drop.
    p Select the logo to leave a message <br> at this location.
    form#list(method="GET" action="/message")
      input#list-latitude(type="hidden", name="latitude")
      input#list-longitude(type="hidden", name="longitude")
      input#list-range(type="hidden", name="range", value="100")
      #list-submit.submit.btn
        a(onclick="listSubmit()" name="submit") View Messages
  #logo
    a(href="/create")
      img(src="/images/logo.svg")