doctype html
html
  head
    title= title
    block scripts
      script(src='/javascripts/createsubmit.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #error
    block content
