doctype html
html
  head
    title= title
    block scripts
      script(src='/javascripts/utils.js')
      script(src='/javascripts/createsubmit.js')
      script(src='/javascripts/listsubmit.js')
      script(src='../test/uitests.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.css')
  body
    #status
      #error= error
      #working= working
      #success= success
    block content
