extends layout

block content
  h1 Messages in Your Area
  #caption
    h2 Kilroy was here       
  .btn
    a(href="/") Home
  #messages
    each msg in messages
      div= msg.message+" ("+msg.timestamp+")"        