extends layout

block content
  .container
  .panel-title
      h1.display Notes dropped at this location
  #caption
    h2 -->Kilroy was here<--       
  .btn
    a(href="/") Home <br>
  
  each msg in messages
      .badge
        div= msg.message
        #timestamp
          div= msg.timestamp
        <br>        