html,body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width:100%;
  height:100%;
  padding:0;
  border:0;
  background-color:#ffffff;
  background-image: url('../images/Adobe.jpg');
  background-attachment: fixed;
  min-height:600px;  
  text-align:center;
}

a {
  color: black;
  font-weight: bold;
}

h1 {
  font-size:1.5em;
  margin-top:0;
  padding-top:0;
}

#logo {
  width:30%;
  max-width:150px;
  min-width:75px;
  margin:auto;
  margin-top:20px;
}

#logo img {
  width:100%;
  animation: logo-bop infinite 1s linear;
  animation-direction: alternate;  
}
@keyframes logo-bop {
  from { transform: translate(0,0); }
  to { transform: translate(0,15%); }
}
#caption {
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: right;
  font-style: italic;
}
#txtarea {
    align-items: center;
    height: 5em;
    width: 50em;
}  
#messages {
  width:calc(100% - 20px);
  margin:auto;
  font-size: 20 px;
  font-style: italic;
  position:absolute;
  color: black;
  left:10px;
  padding-bottom:10px;
}

#messages div {
  min-height:10px;
  border: 2px dashed #D60A0A;
  margin-top:10px;	
  padding:10px;
}

div#message-header {
  border:none;
  font-size:1.5em;
  font-weight:bold;
}

#intro {
  font-size:1.5em;
  width:100%;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-align:center;
  color: black;
  font-weight:bold;
  margin:auto;
  margin-top:20px;
}

#hidden-latitude {
  display:none;
}

#hidden-longitude {
  display:none;
}

#status {
  width:100%;
  margin:auto;
  margin-top:20px;
  text-align:center;
  font-size:1.25em;
}

#error {
  margin-bottom:10px;
  color:red;
}

#working {
  animation: blinking 1s linear infinite;
  margin-bottom:10px;
}

#success {
  animation: blinking 1s linear 3;
}

.submit a {
  cursor:pointer;
  text-decoration:underline;
}

@keyframes blinking {  
  50% { opacity: 0; }
}